<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="https://my.uncc.edu/sites/all/themes/custom/my_unc_charlotte/favicon.ico"/>
</head>

<body>
<header>

</header>
<main>
    <div class="content">
        <h1 class="titleText">Class Grade Calculator</h1>
        <p id="intro">
            Please sign-up to use the calculator. If you already have an account, click the login page button.
        </p>
        <div class="formDiv">
            <%= form_with(model: @user, local: true, :id=> "studentInfo", :action=> "javascript: passwordCheck()") do |form| %>
                <p class="fieldTitle">
                <%= form.label("Student Name:") %> </p>
                <%= form.text_field :studentName, :class=>"inputField" %>
              
            
              <p class="fieldTitle">
                <%= form.label("Email:") %> </p>
                <%= form.text_field :email, :class=>"inputField" %>
              
            
            
               <p class="fieldTitle">
                <%= form.label("Password:") %> </p>
                <%= form.password_field :password, :class=>"inputField" %>
              
            
            
              <p class="fieldTitle">
                <%= form.label("Confirm Password:") %> </p>
                <%= form.password_field :password_confirmation, :class=>"inputField" %>
             
            
              <p class="fieldTitle">
                <%= form.label("School Name:") %> </p>
                <%= form.text_field :schoolName, :class=>"schoolNameField"%>
              <br><br>
            
              <%= form.submit :class=>"submitButton", :value=>"Sign-Up" %>
              &nbsp; &nbsp;
              <%= link_to 'Login Page', login_loginPage_path, :class=> "otherButton" %>
          
            <% end %>

        </div>
        <div>
            <img id="studyingPicture" src="https://img.freepik.com/free-photo/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus_1418-627.jpg?size=626&ext=jpg" alt="Studying Picture">
        </div>
    </div>
</main>

<footer>
    
</footer>

</body>
</html>

