<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Studentname:</strong>
  <%= @user.studentName %>
</p>

<p>
  <strong>Schoolname:</strong>
  <%= @user.schoolName %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
