<%= form_for([@user, User.find(session[:user_id]).grades.build]) do |form| %>
  
  <div id="assignments">
              <p>Assignment</p>
                    <%= form.text_field :assignment1%>
                    <%= form.text_field :assignment2%>
                    <%= form.text_field :assignment3%>
                    <%= form.text_field :assignment4%>
                    <%= form.text_field :assignment5%>
                    <%= form.text_field :assignment6%>
                    <%= form.text_field :assignment7%>
                    <%= form.text_field :assignment8%>
                    <%= form.text_field :assignment9%>
                    <%= form.text_field :assignment10%>
                </div>
                <div id="grades">
                    <p >Grade (%)</p>
                    <%= form.text_field :gradeNum1%>
                    <%= form.text_field :gradeNum2%>
                    <%= form.text_field :gradeNum3%>
                    <%= form.text_field :gradeNum4%>
                    <%= form.text_field :gradeNum5%>
                    <%= form.text_field :gradeNum6%>
                    <%= form.text_field :gradeNum7%>
                    <%= form.text_field :gradeNum8%>
                    <%= form.text_field :gradeNum9%>
                    <%= form.text_field :gradeNum10%>
                    

                </div>
                <div id="weights">
                    <p>Weight (%)</p>
                    <%= form.text_field :wieght1%>
                    <%= form.text_field :weight2%>
                    <%= form.text_field :weight3%>
                    <%= form.text_field :weight4%>
                    <%= form.text_field :weight5%>
                    <%= form.text_field :weight6%>
                    <%= form.text_field :weight7%>
                    <%= form.text_field :weight8%>
                    <%= form.text_field :weight9%>
                    <%= form.text_field :weight10%>
                    
                </div>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>