<!DOCTYPE html>
<!-- HTML file for Homepage of ITIS 3135 Project -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Class Grade Calculator</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <link rel="icon" type="image/x-icon" href="https://my.uncc.edu/sites/all/themes/custom/my_unc_charlotte/favicon.ico"/>
    <script src="../scripts/main.js"></script>
</head>
<body>
<header>

</header>

<main>
    <div class="content">
        <h1 class="titleText">Previous Log</h1>
        <div class="topright">
            <%= link_to 'Log Out', sessions_destroy_path, :class=> "otherButton" %>
            <p>Hello, <%= current_user.studentName%>!!<br>
            <%= current_user.schoolName %></p>
        </div>
        <% User.find(session[:user_id]).grades.each do |grade| %>
        <div id="leftSideTable">
            <div id="assignments">
              <p class="columnTitle">Assignment</p>
                  <p><%= grade.assignment1 %></p>
                  <p><%= grade.assignment2 %></p>
                  <p><%= grade.assignment3 %></p>
                  <p><%= grade.assignment4 %></p>
                  <p><%= grade.assignment5 %></p>
                  <p><%= grade.assignment6 %></p>
                  <p><%= grade.assignment7 %></p>
                  <p><%= grade.assignment8 %></p>
                  <p><%= grade.assignment9 %></p>
                  <p><%= grade.assignment10 %></p>
            </div>
            <div id="grades">
              <p class="columnTitle">Grade (%)</p>
                 <p><%= grade.gradeNum1 %></p>
                  <p><%= grade.gradeNum2 %></p>
                  <p><%= grade.gradeNum3 %></p>
                  <p><%= grade.gradeNum4 %></p>
                  <p><%= grade.gradeNum5 %></p>
                  <p><%= grade.gradeNum6 %></p>
                  <p><%= grade.gradeNum7 %></p>
                  <p><%= grade.gradeNum8 %></p>
                  <p><%= grade.gradeNum9 %></p>
                  <p><%= grade.gradeNum10 %></p>
            </div>
            <div id="weights">
              <p class="columnTitle">Weight (%)</p>
                <p><%= grade.wieght1 %></p>
                <p><%= grade.weight2 %></p>
                <p><%= grade.weight3 %></p>
                <p><%= grade.weight4 %></p>
                <p><%= grade.weight5 %></p>
                <p><%= grade.weight6 %></p>
                <p><%= grade.weight7 %></p>
                <p><%= grade.weight8 %></p>
                <p><%= grade.weight9 %></p>
                <p><%= grade.weight10 %></p>
            </div>
            <div id="weights">
                <p class="columnTitle">Result</p>
                <%= grade.result %>%
            </div>
            <div id="weights">
                <p class="columnTitle">Total Weight</p>
                <%= grade.weightAvg %>%
            </div>
        </div>
    <% end %>
    <%= link_to 'Back', calculator_gradeCalculator_path, :class=>"otherButton" %>
    </div>
</main>
</body>
</html>